* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    background-color: rgb(43, 39, 39);
    color: #75eb89;
}


.box{
    width: 100%;
    height: 100%;            
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.95;
}

#intro-window {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

#name-window {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

#name-window input {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid grey;
    font-size: 30px;

}

#name-window button {
    font-size: x-large;
    border: 2px solid #75eb89;
}


#countdown-window {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 5% 5% 5%;
    opacity: 1;
}

#countdown-window * {
    padding: 2% 0 2% 0;
}

#countdown-window img {
    height: 80%;
    padding: 4%;
}

#game-window {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 5% 5% 5%;
    height: 100%;
    border: 15px solid #75eb894e;
    opacity: 1;
}

#game-status-bar {

    position: absolute;
    top: 5%;
    border: 2px dashed;
    font-size: larger;

}

#winlevel-window * {
    font-size: x-large;
}
#winlevel-window img {
    position: absolute;
    top: 10px;
    max-height: 25%;
    margin-top: 5%;
}



#winner-window {

    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 5% 5% 5%;
    font-size: larger;
}

#loser-window {

    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 5% 5% 5%;
    font-size: larger;
}

#tictactoe-window * {
    opacity: 1;
}

#tictactoe-window .winlose {
    display: none;
}

#tictactoe-window {

    display: grid;    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
    opacity: 1;
}

#tictactoe-board {
    grid-column: 2 / 5;
    grid-row: 2 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 

}

#tictactoe-header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 6;
    grid-row: 1; 
}

#tictactoe-board div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 450%;
    color: rgb(43, 39, 39);
    border-color:#75eb89;
}

#tictactoe-notification {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3;
    grid-row: 5;
}

#ttt-play-again {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 5;
}

#ttt-continue {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 5;
    grid-row: 5;
}

#one-one {
    border-right: 1px solid;
    border-bottom: 1px solid;
}

#one-two {
    border-left: 1px solid;;
    border-bottom: 1px solid;;
    border-right: 1px solid;;
}

#one-three {
    border-left: 1px solid;;
    border-bottom: 1px solid;;
}

#two-one {
    border-top: 1px solid;;
    border-right: 1px solid;;
    border-bottom: 1px solid;;
}

#two-two {
    border: 1px solid;
}

#two-three {
    border-top: 1px solid;;
    border-left: 1px solid;;
    border-bottom: 1px solid;;    
}

#three-one {
    border-right: 1px solid;
    border-top: 1px solid;
}

#three-two {
    border-left: 1px solid;;
    border-top: 1px solid;;
    border-right: 1px solid;;
}

#three-three {
    border-left: 1px solid;;
    border-top: 1px solid;;
}

#winlevel-window {
    justify-content: center;
    align-items: center; 
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.clerk {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.clerk img {
    object-fit: scale-down;
    width: 10%;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.player img{
    object-fit: scale-down;
    padding-top: 80%;
    padding-bottom: 40%;
}

#dude {
    position: absolute;
    left: 25%;
    bottom: 10%;
    width: 15%;
}
