* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    background-color: rgb(43, 39, 39);
    color: #75eb89;
    /*border: solid red 1px;*/
}


.box{
    width: 100%;
    height: 100%;            
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
}

#intro-window {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 16;
    opacity: 1;
}

#name-window {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 17;

}

#name-window input {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid grey;
    font-size: 30px;

}

#name-window button {
    font-size: x-large;
    border: 2px solid #75eb89;
}


#countdown-window {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 5% 5% 5%;
    z-index: 19;
}

#countdown-window * {
    padding: 2% 0 2% 0;
}

#countdown-window img {
    height: 80%;
    padding: 4%;
}

#game-window {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 5% 5% 5%;
    height: 100%;
    border: 15px solid #75eb894e;
    z-index: 20;
}

#game-status-bar {

    position: absolute;
    top: 5%;
    border: 2px dashed;
    font-size: larger;

}

#winner-window {

    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 5% 5% 5%;
    z-index: 25;
}

#loser-window {

    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 5% 5% 5%;
    z-index: 25;
}

#tictactoe-window {

    display: grid;    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    z-index: 24;
}

#tictactoe-board {
    grid-column: 2 / 5;
    grid-row: 2 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

#one-one {
    border-right: 1px solid;
    border-bottom: 1px solid;
}

#one-two {
    border-left: 1px solid;;
    border-bottom: 1px solid;;
    border-right: 1px solid;;
}

#one-three {
    border-left: 1px solid;;
    border-bottom: 1px solid;;
}

#two-one {
    border-top: 1px solid;;
    border-right: 1px solid;;
    border-bottom: 1px solid;;
}

#two-two {
    border: 1px solid;
}

#two-three {
    border-top: 1px solid;;
    border-left: 1px solid;;
    border-bottom: 1px solid;;    
}

#three-one {
    border-right: 1px solid;
    border-top: 1px solid;
}

#three-two {
    border-left: 1px solid;;
    border-top: 1px solid;;
    border-right: 1px solid;;
}

#three-three {
    border-left: 1px solid;;
    border-top: 1px solid;;
}

#winlevel-window {

    justify-content: center;
    align-items: center;
    z-index: 24;    
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.clerk {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.clerk img {
    object-fit: scale-down;
    width: 10%;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.player img{
    object-fit: scale-down;
    padding-top: 80%;
    padding-bottom: 40%;
}

#dude {
    position: absolute;
    left: 25%;
    bottom: 10%;
    width: 15%;
}
